.payment-way {
  margin-top: 15px;
  margin-bottom: 15px;
}

.col-md-8 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
  border-bottom: 2px solid var(--secundary-color);
  color: var(--constrast-color);
  padding-bottom: 20px;
}

.form-label {
  font-size: 1.1rem;
}



