.card {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  background-color: #151522;
  border-radius: 8px;
  max-width: 380px;
}

.card-top {
  height: 50%;
  background-color: #151522;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
}


.card-midle {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

#numbers-card {
  letter-spacing: 4px;
}

.card-bottom {
  height: 50%;
  background-color: #2C2C38;
  border-radius: 8px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-name,
.card-validity {
  font-size: 0.8rem;
  color: #999999;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: uppercase;
}

#your-name,
#validity {
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: normal;
}

.visa-logo {
  width: 40px;
}
