<div class="container">
  <h2>Pagamento via boleto</h2>
  <p>Para pagar pelo Internet Banking, copie a linha digitável ou escaneie o código de barras. Para pagar em qualquer banco, caixa eletrônico ou lotérica, por favor, imprima o boleto.</p>
  <div class="infos">
    <img src="assets/img/clock.png" alt="Imagem de um relógio">
    <p>
      Se o pagamento é feito de segunda a sexta, é creditado no dia seguinte. Se você paga no fim de semana, será creditado na terça-feira.Se o pagamento é feito de segunda a sexta, é creditado no dia seguinte. Se você paga no fim de semana, será creditado na terça-feira.</p>
  </div>
  <div class="code">
    <img src="assets/img/codigo-barra.png">
    <p #textToCopy >55664.48814 8947.5479 77841.48415 2 8897787000070000</p>
  </div>
<div class="buttons">
  <button (click)="copyText($event)">Copiar linha digitável</button>
  <button (click)="openPrinter($event)">Imprimir boleto</button>
</div>
  <div *ngIf="showMessage" class="feedback-message">
  <p>Código Copiado com Sucesso!</p>
  </div>
</div>
