.container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  border: 2px solid var(--detail-color);
  box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 4px;
  text-align: center;
}


ol {
  margin-top: 10px;
  font-size: 1.2rem;
  padding-left: 0px;
  list-style: none;
}

ol li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

ol li::before {
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
}

ol li:first-child::before {
  background-image: url('/assets/img/icon-phone.png');
  background-size: contain;
  position: absolute;
  filter: saturate(1000%);
  -webkit-filter: saturate(1000%);
  -moz-filter: saturate(1000%);
  left: 2px;
}

ol li:nth-child(2)::before {
  background-image: url('/assets/img/icon-pix.png');
  background-size: contain;
  position: absolute;
  filter: saturate(1000%);
  -webkit-filter: saturate(1000%);
  -moz-filter: saturate(1000%);
}

ol li:last-child::before {
  background-image: url('/assets/img/pix-code.png');
  background-size: contain;
  position: absolute;
  left: 1px;
}



.container-img > img {
  margin-top: 20px;
  width: 150px;
}

.container-payment {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.container-payment > img {
  width: 20px;
  height: 20px;
  filter: saturate(1000%);
  -webkit-filter: saturate(1000%);
  -moz-filter: saturate(1000%);
}

.container-bottom {
  border-top: 2px solid var(--secundary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container-bottom > p {
  font-size: 1rem;
  color: var(--gray);
  font-weight: 500;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  width: 100%;
}

button {
  position: absolute;
  bottom: 8%;
  right: 3px;
  background: var(--detail-color);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

  @media (min-width: 457px) and (max-width: 767px) {
    bottom: 17px;
  }

  @media (min-width: 768px) {
    bottom: 18px;
  }
}

button:active {
  background-color: rgba(21, 113, 211, 0.918);
}

.feedback-message {
  color: var(--detail-color);
  font-weight: bold;
}




