<div class="container-top">
    <h2>Escaneie o código QR para pagar</h2>
    <ol>
      <li>Acesse seu Internet Banking ou app de pagamentos.</li>
      <li>Escolha pagar via Pix.</li>
      <li>Escaneie o seguinte código:</li>
    </ol>
    <div class="container-img">
      <img src="assets/img/qrcode.png" alt="QRcode para pagamento">
    </div>
    <div class="container-payment" >
      <img src="assets/img/clock.png" alt="Imagem de um relógio">
      <p>Pague e será creditado na hora.</p>
    </div>
    <div class="container-bottom">
      <h3>Ou copie este código para fazer o pagamento</h3>
      <p>Escolha pagar via Pix pelo seu Internet Banking ou app de pagamentos. Depois, cole o seguinte código:</p>
      <input #textToCopy type="text" value="08979530dfdsf548700ausgaygs0000000"> <button (click)="copyText($event)">Copiar</button>
    </div>
    <div *ngIf="showMessage" class="feedback-message">
      <p>Código Copiado com Sucesso!</p>
    </div>
</div>

