.container-data {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--detail-color);
  box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(79,79,79,0.75);
}

.container-data > h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 4px;
}

.personal-data {
  margin-top: 10px;
}

.name,
.surname,
.email,
.phone {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.phone {
  margin-bottom: 0px;
}


