header {
  text-align: center;
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

header > button {
  background: none;
  padding: 0;
}

.img {
  position: inherit;
  width: 30px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-button {
  border: 2px solid var(--detail-color);
  color: var(--detail-color);
  background-color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 30%;
  transform: rotate(45deg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 1px 8px 7px rgba(105,121,248,0.18);
  -webkit-box-shadow: 0px 1px 8px 7px rgba(105,121,248,0.18);
  -moz-box-shadow: 0px 1px 8px 7px rgba(105,121,248,0.18);
}

.nav-button:hover {
  background-color: var(--detail-color);
  color: #ffffff;
}

.content-button {
  transform: rotate(-45deg);
  position: absolute;
}

.nav-payment > .nav-button {
  background-color: var(--detail-color);
  color: #ffffff;
}

.nav-payment > p {
  color: var(--contrast-color);
}

.nav-delivery, .nav-payment, .nav-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  color: var(--secundary-color);
  min-width: 10%;
}

.nav-delivery::after,
.nav-payment::after {
  content: '';
  position: absolute;
  top: 40%;
  right: -80px;
  width: 110px;
  height: 2px;
  background-color: var(--secundary-color);
  transform: translateY(-50%);
  z-index: -1;
}

.payment {
  width: 90%;
  border-top: 2px solid var(--secundary-color);
  margin: auto;
  margin-top: 30px;
}

.container-fluid {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.total {
  font-size: 2rem;
  font-weight: 400;
  color: var(--contrast-color);
  text-align: center;
}

.total-value {
  color: var(--detail-color);
}

button {
  margin-top: 20px;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 20px;
}


#container-button {
  display: flex;
  justify-content: center;
}

#confirm-button {
  max-width: 700px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 40px;
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--detail-color);
  border: 2px solid var(--detail-color);
  color: var(--primary-color);
  letter-spacing: 2px;
}

#confirm-button:hover {
  border: 2px solid var(--detail-color);
  border-color: var(--detail-color);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transition: ease-in-out;
  transition-duration: 0.5s;
}

/* Responsividade */

@media(min-width: 768px) {

  .row {
    display: grid;
    place-items: center;
    grid-column: 1 / -1;
    margin-top: 20px;
  }

  .row > span {
    font-size: 2.8rem;
  }

  .payment .container-fluid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }

  .container-data {
    grid-column: 1 / 2
  }

  #container-button {
    grid-column: 1 / -1;
  }

}





