.container {
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 4px;
}

h3 {
  margin-top: 10px;
  color: var(--gray);
  font-weight: 700;
  margin-left: 4px;
  font-size: 1rem;
}



.data-payment > h3 {
  margin-top: 50px;
}


.data-credit {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;

  @media (max-width: 580px) {
    display: flex;
    flex-direction: column;
  }
}

.datas-card {
  display: flex;
  flex-direction: column;
}

.datas-card > label {
  height: 30px;
  padding-left: 2px;
  padding-bottom: 20px;
  font-size: 1.1rem;
}

.datas-card > input {
  width: 90%;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  font-size: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.data-payment > label {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.data-payment > select {
  width: 47%;
  padding: 10px 2px;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1.2px;


  @media (max-width: 580px) {
    width: 95%;
  }
}
