
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f8f9fa;
  --secundary-color: #adb5bd;
  --contrast-color: #0e0e0e;
  --gray: #4F4F4F;
  --detail-color: #6979F8;
  --font-titles: 'Montserrat', 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-titles);
}

body {
  background-color: var(--primary-color);
  color: var(--contrast-color);
}

input:focus {
  border: 2px solid var(--detail-color);
  border-color: var(--detail-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select {
  background-color: var(--primary-color);
  border: 2px solid var(--detail-color);
  padding: 10px;
  font-size: 1rem;
  color: var(--contrast-color);
  border-radius: 8px;
  background-image: url('assets/img/arrow-down.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  width: 100%;
  cursor: pointer;
  appearance: none;
}

select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


